## MAIN ADDRESS wwW REMOVAL
server {
  listen <%= @site.server.proxy.port %>;
  <% if @site.server.ssl %>
  listen 443 ssl <%= 'spdy' if @site.server.ssl.spdy %>;
  ssl_protocols <%= @site.server.ssl.protocols %>;
  <% end %>

  server_name www.<%= @site.server_name %>;
  rewrite ^ $scheme://<%= @site.server_name %>$request_uri?;
}

## CUSTOM DOMAINS WWW REMOVAL
<% @site.custom_domains.each do |domain| %>
server {
  listen <%= @site.server.proxy.port %>;
  <% if @site.server.ssl %>
  listen 443 ssl <%= 'spdy' if @site.server.ssl.spdy %>;
  ssl_protocols <%= @site.server.ssl.protocols %>;
  <% end %>

  server_name www.<%= domain %>;
  rewrite ^ $scheme://<%= domain %>$request_uri?;
}
<% end %>

## REDIRECTS
<% @site.redirects.each do |source, destination| %>
server {
  listen <%= @site.server.proxy.port %>;
  <% if @site.server.ssl %>
  listen 443 ssl <%= 'spdy' if @site.server.ssl.spdy %>;
  ssl_protocols <%= @site.server.ssl.protocols %>;
  <% end %>

  server_name <%=source%> <%= "www.#{source}" unless source.start_with? 'www.' %>;

  return 302 $scheme://<%=destination%>$request_uri;
}
<% end %>

upstream <%= @site.service_name %> {
  <% if @site.server.unicorn? %>
  server unix:<%= @site.run_path %>/unicorn.sock;
  <% elsif @site.server.thin? %>
  <% @site.server.workers.times.each do |i| %>
  server http://127.0.0.1:<%= @site.server.port + i %>;
  <% end %>
  <% end %>

  keepalive 64;
}

<% if @site.server.cache %>
upstream <%= @site.service_name %>_cache {
  server <%= @site.server.cache.address %>:<%= @site.server.cache.port %>;

  keepalive 64;
}
<% end %>

<% if @site.chat %>
upstream <%= @site.service_name %>_ejabberd {
  server 127.0.0.1:<%= @site.chat.port %>;
}
<% end %>

server {
  listen <%= @site.server.proxy.port %>;
  <% if @site.server.proxy.to_cache %>
  listen 127.0.0.1:<%= @site.server.proxy.backend_port %>;
  <% end %>
  <% if @site.server.ssl %>
  listen 443 ssl<%= ' spdy' if @site.server.ssl.spdy %><%= ' default_server' if @site.server.ssl.default %>;
  ssl_protocols <%= @site.server.ssl.protocols %>;
  ssl_certificate <%= @site.server.ssl.certificate %>;
  ssl_certificate_key <%= @site.server.ssl.certificate_key %>;
  <% end %>

  server_name <%= @site.server_name %> <%= @site.custom_domains.join ' ' %>;
  port_in_redirect off;
  root <%= @site.code_path %>/public;

  <% if @site.server.ssl and @site.server.ssl.redirect_http %>
  if ( $scheme = http ) {
    rewrite ^ https://$host$uri last;
  }
  <% end %>

  if (-f $document_root/maintenance.html) {
    return 503;
  }
  error_page 503 @maintenance;
  location @maintenance {
    rewrite ^(.*)$ /maintenance.html break;
  }

  access_log <%= @site.access_log_path %> combined;
  error_log <%= @site.error_log_path %>;

<% if @site.chat %>
  location /http-bind {
    proxy_buffers               4 256k;
    proxy_buffer_size           256k;
    proxy_busy_buffers_size     256k;
    proxy_temp_file_write_size  256k;

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $host;
    proxy_pass http://<%= @site.service_name %>_ejabberd;
  }
<% end %>

  location ~ '/assets/.+-[^\.]{64}\..+$' {
    add_header Cache-Control public;
    expires 1y;
    try_files $uri @proxy;
  }

  location / {
  <% if not @site.server.block_bots.empty? %>
    if ($http_user_agent = "") {
      return 403;
    }
    if ($http_user_agent = "-") {
      return 403;
    }
    if ($http_user_agent ~ (<%= @site.server.block_bots.join '|' %>) ) {
      return 403;
    }
  <% end %>

  <% if @site.server.proxy.to_cache %>
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_redirect off;
    # check if request comes from the user and not from cache server back to the backend
    if ( $server_port = <%= @site.server.proxy.port %> ) {
      proxy_pass http://<%= @site.service_name %>_cache;
    }
  <% end %>

    try_files index.html $uri @proxy;
  }

  location @proxy {
  <% if @site.server.unicorn? %>
    proxy_buffers               4 256k;
    proxy_buffer_size           256k;
    proxy_busy_buffers_size     256k;
    proxy_temp_file_write_size  256k;
  <% end %>

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Host $host;
    proxy_pass http://<%= @site.service_name %>;

  <% if @site.server.cache and @site.server.cache.with == 'proxy' %>
    proxy_cache <%= @site.server.cache.key_zone %>;
    proxy_cache_valid 200 <%= @site.server.cache.expires %>;
  <% end %>
  }
}
